<!DOCTYPE html>
<html>
	<head>
		<title>software program</title>
		<meta charset = "utf-8">
		<link rel="stylesheet" type="text/css" href="../../static/describe.css">
	</head>
	<body>
		<nav id ='select'>
			<ul>
				<li><a href="/login/describe">简介</a></li>
				<li class="selected"><a href="/login/system">显示事件</a></li>
				<li><a href="/login/show_event">添加事件</a></li>
				<li><a href="/login/information">成员信息</a></li>
			</ul>
		</nav>
		<div class="imgw">
			<img src="../../static/1.jpg" alt= "" width="100%">
			<div class="words">this is our program</div>
		</div>

		<footer>
			&copy; 2019, 软件系统结构
			<br>
				上述所有的内容全是由我们小组独立完成
		</footer>
	</body>
</html>

