<!DOCTYPE html>
<html>
    <head>
        <title>member information</title>
        <meta charset = "utf-8">
        <link rel="stylesheet" type="text/css" href="../../static/information.css">
    </head>
    <body background = "../../static/2.jpg">
        <nav>
            <ul>
                <li><a href="/login/describe">简介</a></li>
                <li class="selected"><a href="/login/system">显示事件</a></li>
                <li><a href="/login/show_event">添加事件</a></li>
                <li><a href="/login/information">成员信息</a></li>
            </ul>
        </nav>


        <div id="tableContainer">
            <div id="tableRow">
                        
                <section id="member1">
                    <img src = "../../static/3.jpg" width ="150px" height="150px" style="position:absolute; left:290px; top:90px">
                    <h1>个人信息</h1>
                        <p>姓名：谢天琦</p>
                        <p>学号：22920162204058</p>
                    <h1>负责部分</h1>
                        <p>代码部分</p>
                        <p>文本中和技术有关的部分</p>
                        <p>ppt制作</p>
                </section>
                        
                <section id="member2">
                    <img src = "../../static/5.jpg" width ="150px" height="150px" style="position:absolute; left:740px; top:90px">
                    <h1>个人信息</h1>
                        <p>姓名：张子生</p>
                         <p>学号：22920162204086</p>
                    <h1>负责部分</h1>
                        <p>PPT制作</p>
                        <p>撰写文档</p>
                        <p>软件（结构）设计说明（SDD）、项目开发总结报告（PDSR)</p>
                </section>
                            
                <section id="member3">
                    <img src = "../../static/6.jpg" width ="200px" height="150px" style="position:absolute; left:1130px; top:90px">
                    <h1>个人信息</h1>
                        <p>姓名：刘洋合</p>
                        <p>学号：22920162204025</p>
                    <h1>负责部分</h1>
                        <p>PPT制作</p>
                        <p>撰写文档</p>
                        <p>软件（结构）软件需求规格说明（SRS）、软件产品规格说明（SPS)</p>
                </section>
                        
            </div> <!-- tableRow -->
        </div> <!-- tableContainer -->
            
        <footer>
            &copy; 2019, 软件系统结构
            <br>
                上述所有的内容全是由我们小组独立完成
        </footer>
    </body>
</html>